<div class="col-sm-9 pull-left">
  <%= link_to event_path(event) do %>
  <div class="events">
    <div class="row">
      <div class="col-sm-3">
        <%= image_tag "https://via.placeholder.com/200x100" %>
      </div>
      <div class="col-sm-9">
        <h3 class="event-title"><%= event.title %></h3>
        <p class="lead-time">
          <span class="event-start"><%= time_format(event.start_date) %></span>
          <span class="pull-right">Organized by: </span>
        </p>
      </div>
    </div>
  </div>
  <%end%>
</div>

