<header>
  <h1>Events</h1>

  <ul class="actions">
    <li>
      <%= link_to "New event" , new_event_path, class: "new" if policy(Event).new? %>
    </li>
  </ul>
</header>

<div class="row">
  <div class="col-sm-3 pull-right">
    <div class="sidebar">
      <h3 class="discover">Discover</h3>
      <ul class="nav nav-pills nav-stacked">
        <li class='<%= "active" if current_page?("/events")%>''><%= link_to "ALL EVENTS" %></li>
      </ul>
    </div>
  </div>


  <div id="events">
  <div class="col-sm-9">
    <h3>Discover and register to your favorite events</h3>
  </div>
    <% @events.each do |event| %>
      <%= render event %>
    <% end %>
  </div>
</div>
